

<h1 class="mt-5">Orders</h1>

<div class="col-9" *ngIf="orders$ | async as orders">
<table class="table">
        <thead>
            <tr>
                <th>Costumer</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td> {{ order.shipping.name }} </td>
                <td>{{ order.datePlaced | date : 'longDate' }}</td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>